body{
    margin: 0;
    font-family: sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
/* header styles */
header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}

#logo-container{
    padding: 10px;
}

#header-logo{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

/* box-one */
.box-one{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #ffffff;
    padding: 70px;
}

.text-container{
    width: 370px;
}


.img-container{
    background-color: rgb(110, 110, 110);
    color: #ffffff;
    text-align: center;
    width: 600px;
}

h1{
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.h3_in_img{
    line-height: 175px;
}

.text-in-text_container{
    width: 450px;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

#button-1{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #297bff;
    color: #ffffff;
    border: none;
    border-radius: 7px;
}

/* BOX-TWO */

.box-two{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.box-two_title{
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
}

.box-two_child{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box-two_0-1{
    text-align: center;
    margin: 50px;
    height: 150px;
    width: 150px;
}

.mini-box{
    display: flex;
    height: 150px;
    width: 150px;
    border: 3px solid #297bff;
    border-radius: 10px;
}


.text_mini-box{
    width: 165px;
}

/* box-tree */

.box-tree{
    margin-top: 100px;
    background-color: #e5e7eb;

}

.box-tree-text_container{
    display: flex;
    justify-content: center;
}

.box-tree_text{
    width: 770px;
    padding: 70px 70px 0px 70px;
    margin: 0;
    font-size: 36px;
    color: #1f2937;
    font-family: italic;
}

#author-text{
    width: 1070px;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 70px;
    text-align: end;
}

/* box-four */

.box-four{
    margin: 70px;
    display: flex;
    justify-content: center;
}

.box-four_child{
    display: flex;
    justify-content: space-between;
    width: 600px;
    border-radius: 10px;
    padding: 40px 100px 40px 100px;
    color: #ffffff;
    background-color: #297bff;
}

.box-four_title, .information_text{
    margin: 0;
}

#sing_up_button{
    color: #ffffff;
    background-color: #297bff;
    border-radius: 10px;
    border: #ffffff solid 3px;
    padding: 5px 25px 5px 25px;
    font-weight: 700;
}

/* footer */

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 25px;
}