body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

#logo-container{
    padding: 10px;
}

#header-logo{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 30px;
}
